
.dashbord{
margin-top: 20px;
}

.dashbord-title{
margin-bottom: 20px;
text-align: center;
}

.dashbord-card{
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dashbord-card-h2{
  font-size: 30px;
  font-weight: 700px;
}

.dashbord-card-p{
  font-size: 25px;
  font-weight: 500px;
}